.brd-red {
  border: solid red;
}

.brd-blue {
  border: solid blue;
}

.brd-yellow {
  border: solid #fdd835;
}

.brd-black {
  border: solid black;
}

div.badge {
  padding: 0px 6px;
  margin: 0 3px;
  border-radius: 11px;
  border-width: 1.5px;
}

.collapsible-header > span {
  margin: 0 2px;
}

span.date {
  font-weight: bold;
}

span.location {

}